{% extends "base.html" %}

{% block Title %}Download Zone | WSZ{% endblock %}

{% block content %}

<div class="container mx-auto p-5 flex flex-wrap">
  {% if total_count <= 0 %}
  <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 w-full p-4">
    <p class="font-bold">No file found to show</p>
    <p>Please, try again later</p>
  </div>
  {% else %}

  <div class="w-full">
    <div class="w-full border-2 border-gray-400 rounded-lg">
      {% for a_file in fl_list %}

      <div class="flex flex-col lg:flex-row border p-3">

        <div class="w-full lg:w-1/2 mb-2 lg:mb-0">
          <div class="flex">
            <div class="flex-shrink-0 pr-2">
              <img src="{{ url_for('static', filename=get_icon(a_file.extension, a_file.file_type))}}" alt="icon">
            </div>
            <div class="flex-shrink px-2 overflow-x-auto">
              <p class="font-semibold">{{ a_file.name }}</p>
            </div>
          </div>
        </div>

        <div class="w-full lg:w-1/2">
          <div class="flex">
            
            <div class="flex-grow px-1">
              <div class="flex">
                <div class="w-2/5 px-1 ml-8 lg:ml-0">
                  <p class="text-sm">{{ sizeSince(a_file.size) }}</p>
                </div>

                <div class="w-3/5 px-1">
                  <p class="text-sm">{{ a_file.date_modified }}</p>
                </div>
              </div>
            </div>

            <div class="flex-grow-0">
              <div class="flex">
                <div class="flex-1 pl-1">
                  <a href="{{ url_for('downloadzone_file_view', fl=a_file.name) }}" title="Open"><img src="{{ url_for('static', filename='ic_open.svg') }}" alt="Open" style="height: 22px; width: 22px;"></a>
                </div>
                <div class="flex-1 pl-2">
                  <a href="{{ url_for('downloadzone_download', fl=a_file.name) }}" title="{{ a_file.name }}"><img src="{{ url_for('static', filename='ic_download.png') }}" alt="Download" style="height: 20px; width: 20px;"></a>
                </div>
              </div>
          </div>
            
          </div>
        </div>
      
      </div>

      {% endfor %}
    </div>
    
    <p class="mt-5 mx-auto">Total: {{ sizeSince(total_size) }} in {{ total_count }} file{% if not total_count <= 1 %}s{% endif %}</p>

  </div>

  {% endif %}
</div>
{% endblock %}