<!DOCTYPE html>
<html>

<head>
    <title>{% block Title %}WSZ | Web Share Zone{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    {% block style %}
    {% endblock %}
</head>

<body>
    <div class="container-fluid p-0">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>