{% extends "base.html" %}

{% block activeNav %}nav-home{% endblock %}

{% block content %}


<div>
    <div class="row pr-2 pl-2">
        <div class="col-md-4 p-2">
            <div class="card">
                <div class="card-header bg-success"><h4 class="text-center text-white" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Share Zone</h4></div>
                <div class="card-body text-center">
                    <p>Here, You can <b>upload</b> and <b>download</b> shared files also with encryption</p>
                    <a href="/sharezone" class="btn btn-success">Open</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="card">
                <div class="card-header bg-primary"><h4 class="text-center text-white" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Download Zone</h4></div>
                <div class="card-body text-center">
                    <p>Here, You can <b>only download</b> some selected files</p>
                    <a href="/downloadzone" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="card">
                <div class="card-header bg-warning"><h4 class="text-center text-white" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Upload Zone</h4></div>
                <div class="card-body text-center">
                    <p>Here, You can <b>only upload</b> files on server</p>
                    <a href="/uploadzone" class="btn btn-warning">Open</a>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}