{% extends "empty_base.html" %}

{% block Title %}Login | WSZ{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}

<div class="justify-content-center center">
	<div class="card auth_card">
	  <div class="card-header auth_card-header" style="min-width: 300px;">
		<h3>Login</h3>
	  </div>
	  <div class="card-body">
		<form method="POST">
		  {% if error %}
		  <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error }}
		  </div>
      {% endif %}
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        <input
          id="username"
          name="username"
          maxlength="32"
          type="text"
          class="form-control"
          placeholder="username"
          required
        />
		  </div>
		  <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input
          id="password"
          name="password"
          maxlength="32"
          type="password"
          class="form-control"
          placeholder="password"
          required
        />
		  </div>
		  <div class="form-group">
			<button
			  class="btn float-right login_btn"
			  type="submit">
			  Login
			</button>
		  </div>
		</form>
	  </div>
	  <div class="card-footer">
		<div class="d-flex justify-content-center links">
		  <span>Don't have an account? <b><a href="/signup">Sign Up</a></b> now.</span>
		</div>
	  </div>
	</div>
</div>

{% endblock %}