{% extends "base.html" %}

{% block Title %}Share Zone | WSZ{% endblock %}

{% block nav_title %} Share Zone {% endblock %}

{% block activeNavChlid %}nav-child-1{% endblock %}

{% block content %}


<div>

    <div class="card mb-2">
        <div class="card-header p-2">
            <h5 class="float-left">Shared Files</h5>
            <div class="float-right">
                <button type="button" class="btn btn-primary btn-sm" onclick="location.reload(true)"> Refresh </button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#uploadmodal"> Upload </button>
            </div>
        </div>
    </div>

    {% if count == 0 %}

    <div class="alert alert-warning fade show">
        <h5>Nothing found to show</h5>
        <h6>Please, try again later</h6>
    </div>

    {% endif %}
      
    <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Coming Soon
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" disabled>Upload</button>
            </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}