{% extends "empty_base.html" %}

{% block Title %}Share Zone | WSZ{% endblock %}

{% block content %}

<div class="container mx-auto p-3">
    <div class="p-2 sticky-top border border-b-2 rounded flex shadow items-center mb-4">
        <h4 class="font-semibold text-xl">Share Zone</h4>
        <div class="ml-auto">
            <a class="bg-indigo-600 text-white hover:bg-indigo-800 px-2 py-1 rounded focus:outline-none cursor-pointer" onclick="location.reload(true)">Refresh</a>
            <a href="/" class="bg-indigo-600 text-white hover:bg-indigo-800 px-2 py-1 rounded focus:outline-none">Home</a>
            <a href="/logout" class="bg-indigo-600 text-white hover:bg-indigo-800 px-2 py-1 rounded focus:outline-none">Logout</a>
        </div>
    </div>

    <div class="p-2">
        <div class="border-l-4 border-orange-600 bg-orange-100 p-3">
            <p class="text-red-800 font-bold text-lg">Nothing found to show</p>
            <p class="text-red-700">Please, try again later</p>
        </div>
    </div>
    
    <div class="p-2 border border-t-2 rounded flex items-center mt-4">
        <p class="text-lg">Text : </p>
        <input type="text" class="border px-2 mx-3" >
        <div class="ml-auto">
            <a class="bg-indigo-500 text-white hover:bg-indigo-600 px-2 py-1 rounded mx-1 focus:outline-none cursor-pointer"> Send </a>
            <a class="bg-indigo-500 text-white hover:bg-indigo-600 px-2 py-1 rounded mx-1 focus:outline-none cursor-pointer" data-toggle="modal" data-target="#uploadmodal"> Upload </a>
        </div>
    </div>
</div>

{% endblock %}