{% extends "base.html" %}

{% block activeNavChlid %}nav-child-3{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/uploadzone_style.css') }}">
{% endblock %}

{% block content %}

{% if error %}
<div class="alert alert-danger alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ error }}
</div>
{% endif %}
{% if info %}
<div class="alert alert-success alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ info }}
</div>
{% endif %}

<form class="mb-3" method="POST" enctype="multipart/form-data">
  <div class="wrapper_">
    <div class="container_">
      <h3 class="upload_text" title="Here, you can upload file to server">Upload Zone</h3>
      <div class="upload-container">
        <input type="file" name="file" class="file-upload" required>
      </div>
      <p class="file-upload-text">Drag & Drop a file here or Choose</p>
      <p class="file-upload-text" style="margin-top: -10px">Size Limit : {{ max_limit }} MB</p>
      <input type="submit" value="Upload" class="btn btn-primary">
    </div>
  </div>
</form>

{% endblock %}